@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;1,100;1,200&display=swap');

*{
    font-family: montserrat;
    box-sizing: border-box;
    
}
p{
    font-weight: 300;
}
body{
    background-color: azure;
    position: relative;
}

.container{
    background-color: darkseagreen;
    width: 60%;
    text-align: center;
    padding: 30px 0;
    margin-top: 100px;
    border-radius: 20px;
    position: absolute;
    left: 25%;
}
form div{
    margin: 20px 0;    
}
input{
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: 100;
    width: 400px;
}
.gender{
    width: auto;
    text-align: center;
}
.name{
    width: 200px;
    display: inline;
}
.button{
    font-weight: 400;
    color: darkseagreen;
    width: 100px;
    background-color: azure;
}
.button:hover{
    background-color: #fff; 
}
#fcolor{
    height: 50px;
}
#sucess-body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
#main-success{
    width: 40%;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
#top-sucess{
    background-color: green;
    height: 50px;
    padding: 5px 20px;
    border-radius: 10px 10px 0 0;
}
#bottom-sucess{
    background-color: rgb(214, 250, 238);
    height: 200px;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;       
}
#sucess-button{
    border-radius: 5px;
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: 100;
    width: 200px;
    color: green;
    font-weight: 400;
}